body{
	font-family: "HelveticaNeue-CondensedBold", "Arial Narrow",Arial;
}

#brand_banner{
	width: 100%;
	height: 200px;
	background-color: #DF2241;
	text-align: center;
}

#toro_pizza_logo{
	height: 200px;
	width: 200px;
}

#pizza_catalog{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.pizza_div{
	width: 605px;
}

.pizza_name{
	font-size: 30px;
}

.pizza_image{
	height: 400px;
	width: 595px;
	border-radius: 5px;
}

.pizza_cost{
	font-size: 20px;
	color: darkgreen;
	font-weight: bold;
}

.order_button{
	background-color: #148F6A;
	color: white;
	font-weight: bold;
	font-size: 15px;
	border: none;
	border-radius: 5px;
	padding: 5px;
}

.order_button:hover{
	background-color: #117959;
	color: white;
	font-weight: bold;
	font-size: 15px;
	border: none;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
}

#order_pizza{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#ingredients_selector{
	display: flex;
	justify-content: center;
}

.ingredients_selector_container{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.ingredients_ul{
	list-style: none;
}

.ingredient_li{
	border: 2px solid black;
	padding: 5px;
	margin-bottom: 2px;
	width: 200px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
}

.added_ingredient_li{
	cursor: grab;
}

.ingredients_selector_remove_button{
	background-color: #DF2241;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
}

.ingredients_selector_remove_button:hover{
	background-color: #CA1D3A;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
}

.ingredients_selector_add_button, #done_button{
	background-color: #148F6A;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
}

.ingredients_selector_add_button:hover, #done_button:hover{
	background-color: #117959;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
}

#go_back_button{
	background-color: #DDDDDD;
	color: black;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
}

#go_back_button:hover{
	background-color: #DDDDDD;
	color: #148F6A;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
}

.navigation_button{
	margin: 5px;
}

#ok_message{
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#done_title{
	font-weight: bold;
	font-size: 50px;
}

#done_text{
	font-weight: bold;
	font-size: 35px;
}